*.mp4
*.webm
*.jpeg
*.pdf
*.txt
*.pcap
*.pcapng
*.png
*.csv
dataset/__MACOSX_IoT_Sentinal/captures_IoT-Sentinel/._.DS_Store
dataset/__MACOSX_IoT_Sentinal/captures_IoT-Sentinel/EdimaxCam2/._.DS_Store
dataset/__MACOSX_IoT_Sentinal/captures_IoT-Sentinel/EdnetCam1/._.DS_Store
dataset/__MACOSX_IoT_Sentinal/captures_IoT-Sentinel/EdimaxPlug1101W/._.DS_Store
dataset/captures_IoT-Sentinel/.DS_Store
dataset/captures_IoT-Sentinel/EdimaxCam2/.DS_Store
dataset/captures_IoT-Sentinel/EdimaxPlug1101W/.DS_Store
dataset/captures_IoT-Sentinel/EdnetCam1/.DS_Store
lecturas/demo_Scrapy.py
pcap_converter/extract_features_pcap.py
pcap_converter/IOT_sklearn.py
pcap_converter/IOT_tf.py
pyrandom/fun_tuplas.py
pyrandom/other_scan.py
pyrandom/prueba_barra.py
pyrandom/prueba_mac.py
pyrandom/scan_2.py
data_udp
*.tar.gz
*.zip
pck_grb.py

#para ignora los archivos de venv
net_scan
net_scan/bin*
net_scan/lib*
